<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Home Page</title>
</head>

<body>
  <header>
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
      <li id="signupDrp"><a href="/signup" >Sign up</a></li>
      <li id="signinDrp"><a href="/signin" >Sign in</a></li>
      <li style="display: none;"><a id="logout">LogOut</a></li>
    </ul>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo left">EService</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-sm-and-down">
          <li><a href="/service">Create a Service</a></li>
          <li><a href="/services">Services</a></li>
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Profile<i
                class="material-icons right">arrow_drop_down</i></a></li>
        </ul>

      </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
      <li><a href="/service">Create a Service</a></li>
      <li><a href="/services">Services</a></li>
    </ul>



  </header>

  {{{body}}}
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        ©
        <script type="text/javascript">document.write(new Date().getFullYear())</script> Copyright Text
      </div>
    </div>
  </footer>

  <script src="../js/index.js"></script>
</body>

</html>