<div class="container" id="bidPage">
    <div class="row">
        <h2> Place your bid for this wonderful service!</h2>

        <div class="col s12 m7">
            {{!-- not sure how to specify the title  --}}
            <h4 class="header">{{$this.title}}</h4>
            <div class="card horizontal">
                <div class="card-image">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        {{!-- attach specific description of the service  --}}
                        <p>{{description}}</p>

                        <form>
                            <input>
                        </form>
                    
                    </div>
                    <div class="card-action">
                        <a href="#">Full Project</a>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>