<div id="home">


  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center light-green-text">Neighbors helping neighbors</h1>
      <div class="row center">
        <h5 class="header col s12 light"> A unique approach to making lives simple. Search for services or start your bids</h5>
      </div>
      <div class="row center">
        <a href="/services" id="download-button"
          class="btn-large waves-effect waves-light green">Get Started</a>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">How neighbors help neighbors</h5>

            <p class="light">Are you in need of helping others or need assistance in advertising your services for many common household or community projects? Look no further E-Services is your answer and our site is simple to use.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User friendly experience</h5>

            <p class="light">Create your services by first creating a user friendly login and sign in and then create your first bidding and then select your requests.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Search for services</h5>

            <p class="light">Select up to three services for bids or search for search for services in your area or start your bids.</p>
          </div>
        </div>
      </div>

    </div>
    <div class="section"> </div>
  </div>
</div>