{{#each services}}
<div class="col s12 m7">
    <h2 class="header">Horizontal Card</h2>
    <div class="card horizontal">
        <div class="card-image">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <p>{{this.title}}</p>
                <p>{{this.description}}</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>
</div>
{{/each}}