.list-group-item {
  line-height: 2.5;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
    
.page-footer{
    bottom: 0px;
    width: 100%;
}

.container{
  padding: 20px 0px;
}

nav{
  background-color: #ffffff;
  color:#333;
  padding: 0px 50px;
}

nav ul a{
  color:#333;
}

.page-footer{
  background-color: #ffffff;
  columns: #333333;
}

.page-footer .footer-copyright{
  color: #333333;
}

nav .brand-logo{
  color: #333333;
}

.material-icons{
  color: #333333;
}

.brand-logo{
  margin-left: 70px;
}

.col .row{
  margin-left:0px;
  margin-right:0px;
}

.editService, .removeService{
  position: absolute;
  top:0px;
  right:30px;
  cursor: pointer;
}
.removeService{
  right:5px;
}

.card-action {
  height: 180px;
}

.card-action h5{
  line-height: 0%;
  margin-top: 5px;
}

.card-content{
  padding-top: 20px;
}
.card-header{
  padding: 20px;
  margin-bottom: 25px;
}
.card-header h5{
  margin: 0px;
}